.c-hero {
  display: grid;
  grid-template-columns: auto min-content;
}

.c-hero__side {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: 1 / 2 / 3 / 3;
}

.c-hero__sidenote {
  @include text-ghost;
  @include text-league;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
