.c-product {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.c-product__img {
  background: linear-gradient(90deg, #e5e5e5, #e5e5e5);
  background-size: 100% 62%;
  background-repeat: no-repeat;
  background-position: left bottom;
  width: 250px;
  text-align: center;
}

.c-product__info {
    margin-left: -2em;
    text-align: left;

}

.c-product__cat {
  font-family: $poppins;
  text-transform: uppercase;
  color: #7a7a7a;
  @include font-size(12px,1.5);
  letter-spacing: 0.2em;
}

.c-product__title {
  font-family: $playfair;
  margin-bottom: 1em;
  @include font-size(26px,1);
}

.c-product__price {
  color: $secondary-color;
  @include font-size(20px);
  text-align: center;
}

.c-product__buy {
  @include text-league;
  text-align: center;
  display: block;
}
