.c-section--quote {
  padding: 7em 0;

  @include mq(lg) {
    padding-top: 7em;
  }
}

.c-quote {
  text-align: center;
  color: #333;
  opacity: .9;
}

.c-quote__text {
  font-family: $playfair;
  @include font-size(18px);
  max-width: 600px;
  margin: auto;

  @include mq(lg) {
    @include font-size(26px);
  }
}

.c-quote__author {
  @include text-league;

  @include mq(lg) {
    @include font-size(8px);
  }
}
