.c-section--shop {
  background-image: url(../images/shop-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: -10em;
  padding-bottom: 20em;
  
  @include mq(lg) {
      // margin-bottom: 0;
      // a hack to expand background image
      margin: -30em 0;
      padding: 30em 0;
  }
}

.c-shop {
  text-align: center;
  overflow: hidden;
}

.c-shop__slider {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-bottom: 1em;

  @include mq(lg) {
    margin-bottom: 5em;
  }
}
