.c-slider {
    grid-area: 2 / 1 / 3 / 2;
}

.c-slider__item {
    display: flex;
    align-items: center;
    position: relative;
}

/////////////////

.c-slider__content {
    position: absolute;
}

.c-slider__title {
    font-size: 62px;
    font-family: $playfair;
    text-transform: capitalize;
}

.c-slider__cap {
    @include text-secondary;
    max-width: 410px;
}

/////////////////////

.c-slider__img {
    margin-left: auto;
}