.c-social {
  display: flex;
  align-items: center;
  gap: 1em;
  margin: auto 0;
  padding: 0;

  @include mq(lg) {
    margin: 0;

    &--vertical {
      flex-direction: column;
    }
  }
}

.c-social__icon {
  @include flex-center;
  width: 30px;
  height: 30px;
  border-radius: 100%;

  &:hover {
    background: #999;
  }
}
