.c-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mq(lg) {
    display: grid;
    grid-template-columns: 13em auto;
    justify-content: flex-start;
  }
}
