body,
html {
  font-family: $lato;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #333;
  background-color: #fff;
  font-feature-settings: "lnum"; // lined numbers
  // background-image: url(../images/line.png);
}

.main {
  background-color: #fff;
}

a {
  color: #0b0c11;
  text-decoration: none;
  transition: 0.2s;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  transition: 0.2s;
  cursor: pointer;
  border: 0;
}