@font-face {
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/leaguespartan-bold.woff") format("woff"),
        url("../fonts/leaguespartan-bold.woff2") format("woff2");
}